section {
  margin: 5rem 0 5rem 35rem;
}
h1 {
  flex-direction: column;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
button {
  width: 10rem;
  height: 4rem;
  font-size: 3rem;
  border: none;
  background-color: #323232;
  color: #fff;
  margin: 3px;
  border-radius: 5px;
}
button:hover{
  background-color: #2e2e2e;

}
textarea {
  border: none;
  font-family: sans-serif;
  resize: none;
  color: #fff;
  font-size: 3em;
  background-color: #202020;
}
#eval {
  width: 30.7rem;
  background-color: #6da9d8;
  color: #323232;
}
.number {
  background-color: #3c3c3c;
}
